.content {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: dimgray;
  font-size: 16px;
  line-height: 1.3;
}

@media only screen and (max-width: 600px) {
  .content {
    max-width: 600px;
  }
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

h6 {
  font-size: 0.9rem;
  font-weight: 500;
}

p {
  font-size: .8rem;
}

.section {
  padding: 2rem 0 2rem 1.5rem;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .section {
    padding: 0;
    display: block;
  }
}

.title {
  text-align: center;
  padding-top: 2rem;
}

#border {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

/* div, header, footer, nav, ul, li, .section {
  border: .5px solid magenta;
} */

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
}

#logo img {
  height: 2rem;
  width: auto;
}

#logo p {
  font-size: 1.2rem;
  font-weight: bold;
}

#logo .academy {
  color: gainsboro;
  font-weight: normal;
}

.mobile {
  display: none;
}

nav {
  margin-right: 0.66rem;
}

nav ul {
  display: inline-flex;
}

nav ul li {
  margin-right: 1rem;
}

/* Responsive design - Header */
@media only screen and (max-width: 600px) {
  #logo {
    width: 100%;
    margin-left: 0;
    justify-content: space-around;
  }

  .mobile {
    display: block;
  }
}

/* Jumbotron Section*/
#jumbo {
  background-color: gainsboro;
}

#jumbotron {
  width: 60%;
}

#jumbotron img {
  width: 100%;
  height: auto;
}

#info {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  padding-left: 1.5rem;
}

#info h3 {
  padding: 1.5rem 0;
}

#button {
  background-color: grey;
  padding: 0.66rem 0;
  text-align: center;
  width: 60%;
  font-size: 1.2rem;
}

#button a {
  color: white;
  text-decoration: none;
}

/* Responsive design - Jumbotron */
@media only screen and (max-width: 600px) {
  #jumbotron {
    width: 100%;
  }

  #info {
    width: 100%;
    padding: 2rem 1rem;
  }

  #info h3 {
    padding: 2rem 1.5rem 1.5rem 0;
  }

  #info h1 {
    font-size: 2.4rem;
    padding-right: 1.5rem;
  }

  #button {
    width: 90%;
  }
}

/* Main Page Information Section */
#information {
  display: flex;
  width: 100%;
}

.right{
 width: 60%;
 margin-right: 1.5rem;
}

.right img {
  width: 100%;
  height: auto;
}

.practice h1 {
  padding: 2rem 0 1.5rem 0;
}

.practice p {
  padding-bottom: 1.5rem;
}

.left-border {
  border-left: 1px solid gainsboro;
}

.columns {
  width: 40%;
  display: block;
}

.column:first-child {
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 1px;
}

.column:nth-child(2n) {
  border-top: 1px solid gainsboro;
}

.column {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 9.375rem;
}

.columnimage {
  width: 35%;
  padding: 1rem;
}

.columnimage img {
  width: 100%;
  height: auto;
}

.columninfo {
  width: 65%;
  padding-right: 1rem;
}

.columninfo p {
  padding-top: 0.66rem;
}

.grey {
  background-color: gainsboro;
}

.read {
  color: cadetblue;
}

/* Responsive design - Main Page info section */
@media only screen and (max-width: 600px) {
  /* Main page information section */
  .practice {
    display: none;
  }

  .right {
    display: none;
  }

  .columns {
    width: 100%;
  }

  .column {
    display: block;
    justify-content: center;
  }

  .columnimage {
    width: 100%;
  }

  .columnimage img {
    max-height: 15rem;
    object-fit: cover;
  }

  .columninfo {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }

  .column:first-child {
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
  }

  .column:nth-child(2n) {
    border-top: none;
  }

  .grey {
    background-color: white;
  }
}

/* Start Learning Section */
#learning {
  background-color: gainsboro;
}

#majors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 4.5rem;
}

.major {
  width: 15.625rem;
  margin-bottom: 2rem;
}

.major img {
  width: 100%;
  height: auto;
}

.major-info {
  background-color: white;
  padding: 1rem 1rem 1.5rem 1rem;
  min-height: 7.3rem;
}

.courses {
  padding: 0.66rem 0;
}

/* Start Learning section - major names */
@media only screen and (max-width: 600px) {
  #learning {
    background-color: white;
    border: 1px solid gainsboro;
  }

  #majors {
    padding: 1rem 1rem 2rem 1rem;
  }

  #majors img, #majors p {
    display: none;
  }

  .major {
    width: 100%;
    margin-bottom: 0.66rem;
  }

  .major-info {
    background-color: gainsboro;
    padding: 1rem 1rem 1.5rem 1rem;
    min-height: inherit;
  }
}

/* Thesis Section */
#urban h3 {
  padding: 1.5rem 0 0.66rem 0;
}

#urban {
  padding-bottom: 2rem;
}

/* Responsive design - thesis section */
@media only screen and (max-width: 600px) {
  .video {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  #urban {
    display: none;
  }

  .no-mobile {
    display: none;
  }
}

/* Footer Section */
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 1rem 1.5rem 2rem 1.5rem;
}

#tp {
  display: inline-flex;
}

#tp p {
  margin-right: 1rem;
}

/* Responsive design - Footer section */
@media only screen and (max-width: 600px) {
  footer {
    display: block;
    padding: 1.5rem 0 1rem 1rem;
  }

  #tp {
    display: none;
  }

  #copyright {
    padding-top: 1rem;
  }
}
